header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #343646;
  color: #fff;
  z-index: 999;
}

h1 {
  margin: 0;
  padding: 10px;
  font-size: 24px;
  text-align: center;
}